{{!--app/templates/application.hbs--}}
{{page-title "API EMBER"}}

<main>
  <nav class="nav">
    <a class="left-nav-div" href="/">Hey, World!</a>
    <div class="center-nav-div">
      <li>Men</li>
      <li>Women</li>
      <li>Kids</li>
      <li>Sale</li>
    </div>
    <div class="right-nav-div">
      <a href="/signin" class="login-btn-nav">Login</a>
      <a href="/signup" class="signup-btn-nav">Cadastro</a>
    </div>
  </nav>
{{outlet}}
</main>
