{{page-title "Login"}}
<form class="form-signin">
  <h3>Login</h3>

  <label>Email:</label>
  <input type="email" value={{this.email}} />

  <label>Senha:</label>
  <input type="password" value={{this.password}} />

  <button type="submit">Logar</button>
</form>